<div class="container"><br>
    <div class="jumbotron">
        <h1>Hi @ViewBag.UserInfo.FirstName 👋</h1>
        <h2>Welcome to Wedding Planner 🎊</h2>
    </div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <td>Wedding</td>
            <td>Date</td>
            <td>Guest Count</td>
            <td>Action</td>
        </tr>
        </thead>
        @model List<WeddingPlanner.Models.Wedding>
            @foreach(var w in Model){
                <tr>
                    <td><a href="wedding/@w.WeddingId">@w.WedderOne & @w.WedderTwo</a></td>
                    <td>@w.Date.ToString("MMM d yyyy")</td>
                    <td>@w.Rsvp.Count</td>
                    @if(w.CreatedBy == ViewBag.UserInfo.UserId){
                    <td>
                        <form action="delete" method="POST">
                            <input type="hidden" name="WeddingId" value="@w.WeddingId">
                            <button class="btn-xs btn-danger" type="submit" name="delete">Delete</button>
                        </form>
                    </td>
                    }
                    else{
                        if(w.Rsvp.Where(u => u.UserId == ViewBag.UserInfo.UserId).SingleOrDefault() == null)
                        {
                            <td>
                                <form action="rsvp" method="POST">
                                    <input type="hidden" name="WeddingId" value="@w.WeddingId">
                                    <button class="btn-xs btn-success" type="submit" name="rsvp">RSVP</button>
                                </form>
                            </td>
                        }
                        else
                        {
                            <td>
                                <form action="unrsvp" method="POST">
                                    <input type="hidden" name="WeddingId" value="@w.WeddingId">
                                    <button class="btn-xs btn-success" type="submit" name="rsvpid">Un-RSVP</button>
                                </form>
                            </td>
                        }
                    }
                </tr>
            }
    </table>
    <a class="pull-right btn btn-primary" href="/newwedding">Add New Wedding</a>
</div>